node_modules/
.env
*.zip
test-results/
.DS_Store
Thumbs.db

# Local Netlify folder
.netlify

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
*~

# OS files
Desktop.ini

# Build output
dist/
